* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    padding: 0;
    margin: 0;
    Background-color: rgb(202, 192, 192);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #3a3a3a;
}

.submit{
    margin-top: 10%;
    margin-left: 30px;
    margin-right: 30px;
    padding: 30px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 10px 20px rgba(184, 178, 178, 0.699);
    border-radius: 3px;
}

.submit h1{
    padding-bottom: 10px;
}

.submit input{
    display: block;
    padding: 10px 30px;
    width: 500px;
    margin: 10px 0;
    border-radius: 3px;
    border: 1px solid rgba(116, 109, 109, 0.5);
}

.submit button{
    display: block;
    padding: 10px 30px;
    width: 500px;
    margin: 10px 0;
    border-radius: 3px;
    border: 1px solid rgba(116, 109, 109, 0);
    background-color: rgb(179, 42, 42);
    color: white;
}