*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #F1F1F1;
    font-family: 'Oswald', sans-serif;
}

p{
    font-family: 'Open Sans', sans-serif;
}

.container{
    margin: 0 100px;
}

header{
    background-color: black;
}

nav{
    display: flex;
    justify-content: space-between;
}

nav div a{
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: inline-block;
}

nav div a:hover{
    background-color: rgba(155, 151, 151, 0.952);
}

.top_hero_section{
    background-color: white;
    padding: 80px 0;
    text-align: center;
}

.top_hero_section h1{
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 42px;
    line-height: 72px;
    letter-spacing: normal;
}

.top_hero_section p{
    line-height: 24px;
    letter-spacing: normal;
    font-size: 16px;
}

.top_hero_section span{
    background-color: black;
    color: white;
    padding: 3px;
}

.bottom_hero_section{
    background-image: url("../images/jane.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 400px 0 400px 30px;
    color: white;
}

.bottom_hero_section h2{
    font-size: 36px;
    line-height: 64px;
    letter-spacing: 4px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.bottom_hero_section h1{
    font-size: 64px;
    line-height: 96px;
    letter-spacing: 4px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.bottom_hero_section a{
    color: black;
    text-decoration: none;
    background-color: #bdbabadc;
    padding: 10px 15px;
    margin-top: 10px;
    display: inline-block;
}

main{
    display: flex;
    border: 1px solid #837e7e8c;
    padding: 40px;
}

article{
    background-color: white;
    padding: 30px;
    flex-basis: 70%;
}

article .article_heading{
    text-align: center;
}

.article_heading h1{
    font-size: 24px;
    font-weight: 400;
    line-height: 22.5px;
    letter-spacing: normal;
}

.article_heading p{
    font-size: 18px;
    line-height: 22.5px;
    letter-spacing: normal;
    font-weight: bold;
}

.article_heading p span{
    color: rgba(139, 139, 139, 0.877);
}

article #main_image{
    width: 100%;
}

.article_p {
    line-height: 24px;
    text-align: justify;
    font-family: "Roboto", sans-serif;
}

.article_p span{
    font-weight: bold;
}

.line{
    height: 2px;
    background-color: rgba(214, 211, 211, 0.596);
    margin: 50px 0;
}

.btn_like_reply button{
    padding: 10px 15px;
}

.btn_like_reply {
   display: flex;
   justify-content: space-between;
}

.like_btn{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(190, 186, 186, 0.671);
}

.replies_btn{
    background-color: black;
    border: 1px solid rgba(190, 186, 186, 0);
    color: white;
}

.replies_btn span{
    color: black;
    background-color: white;
    padding: 3px 5px;
}

.reply_img img{
    width: 90px;
}

.replies{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.reply_img{
    margin-right: 20px;
}